div {
  color: #f7f9fb;
}

td,
th {
  color: #fff;
}

.Button {
  color: #0bf593;
}

.div-wrapper {
  height: 200px;
  margin-top: 40px;
  border: 2px dashed #ddd;
  border-radius: 8px;
}

.div-to-align {
  width: 105%;
  padding: 40px 20px;

  /* .... */
}
